.category {
	
}

.hide-country {
	display: none;
}

.hide-region {
	display: none;
	padding: 0 0 10px 0;
}

.region {
	margin: 0;
	padding: 0;
}

.firstcategory {
	padding: 5px 0 5px 0;
	margin: 0;
	font-weight: bold;
}

.category {
	padding: 10px 0 5px 0;
	margin: 0;
	font-weight: bold;
}

.stockist {
	padding: 5px 0 5px 0;
	margin: 0;
}

.stockist a:link, .stockist a:visited {
	color: #555555;
	font-family: DroidSansRegular,Arial,Helvetica,san-serif;
	font-size: 13px;	
}

.hide-region a:link, .hide-region a:visited {
	
}

